// _visibility.sass
//
// @package bitaculous/assetify/library

// === Hidden / Not Hidden ===

// Hides content from both Screen Readers and Browsers.
@mixin hidden
  display: none
  visibility: hidden

// Reset for `hidden`.
@mixin not-hidden($display: block)
  display: $display
  visibility: visible

// === Invisible / Visible ===

// Hides content visually and maintains layout.
@mixin invisible
  visibility: hidden

// Reset for `invisible`.
@mixin visible
  visibility: visible

// === Visually Hidden / Not Visually Hidden ===

// Hides only visually but have it available for Screen Readers.
@mixin visually-hidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

// Reset for `visually-hidden`.
@mixin not-visually-hidden
  clip: auto
  height: auto
  margin: auto
  overflow: visible
  position: static
  width: auto

// === Misc ===

// Hides content.
@mixin hide-content
  overflow: hidden
  text-indent: 100%
  white-space: nowrap

// Hides text.
@mixin hide-text
  color: transparent
  font-size: 0
  line-height: 0

// Unhides text.
@mixin unhide-text
  color: inherit
  font-size: inherit
  line-height: inherit

// Hides the element if it has no content or is empty.
@mixin hide-if-empty
  &:empty
    display: none !important
