// _svg.scss
//
// @package bitaculous/assetify/assets/images

// === Functions ===

@function svg-icon-properties($icon) {
  @return map-get($svg-sprite-icons, $icon);
}

@function svg-icon-property($icon, $property) {
  @if map-has_key($svg-sprite-icons, $icon) == false {
    @warn "Icon `#{$icon}` does not exist.";

    @return false;
  }

  @return map-get(svg-icon-properties($icon), $property);
}

// === Mixins ===

// --- Public ---

@mixin svg-icon($icon, $position: relative, $top: 0, $right: auto, $bottom: 0, $left: 0, $margin: auto, $padding: true, $gap: 10, $pseudo: before) {
  position: $position;

  &::#{$pseudo} {
    @include svg-icon-base($icon);

    bottom: $bottom;
    content: '';
    display: block;
    left: $left;
    margin: $margin;
    position: absolute;
    right: $right;
    top: $top;
  }

  @if $padding {
    $icon-width: svg-icon-property($icon, width);

    @if $icon-width {
      $overall-width-in-px: ($icon-width + $gap) * 1px;

      @if $pseudo == after {
        padding-right: rem($overall-width-in-px);
      } @else {
        padding-left: rem($overall-width-in-px);
      }
    }
  }
}

@mixin svg-icon-inline($icon, $position: static, $vertical-align: middle, $margin: null, $pseudo: before) {
  &::#{$pseudo} {
    @include svg-icon-base($icon);

    content: '';
    display: inline-block;
    vertical-align: $vertical-align;

    @if $position != static {
      position: $position;
    }

    @if $margin != null {
      margin: $margin;
    }
  }
}

@mixin svg-icon-change($icon, $height: false, $width: false, $position: null, $top: null, $right: null, $bottom: null, $left: null, $margin: null, $pseudo: before) {
  @if $position != null {
    position: $position;
  }

  &::#{$pseudo} {
    @include svg-icon-background-position($icon);

    @if $height {
      @include svg-icon-height($icon);
    }

    @if $width {
      @include svg-icon-width($icon);
    }

    @if $top != null {
      top: $top;
    }

    @if $right != null {
      right: $right;
    }

    @if $bottom != null {
      bottom: $bottom;
    }

    @if $left != null {
      left: $left;
    }

    @if $margin != null {
      margin: $margin;
    }
  }
}

@mixin svg-icon-update($icon, $height: false, $width: false, $position: null, $top: null, $right: null, $bottom: null, $left: null, $margin: null, $pseudo: before) {
  @include svg-icon-change(icon: $icon, height: $height, width: $width, position: $position, top: $top, right: $right, bottom: $bottom, left: $left, margin: $margin, pseudo: $pseudo);
}

@mixin svg-icon-replace($icon, $height: false, $width: false, $pseudo: before) {
  &::#{$pseudo} {
    @include svg-icon-background-position($icon);

    @if $height {
      @include svg-icon-height($icon);
    }

    @if $width {
      @include svg-icon-width($icon);
    }
  }
}

@mixin svg-icon-position($top: 0, $right: auto, $bottom: 0, $left: 0, $pseudo: before) {
  &::#{$pseudo} {
    bottom: $bottom;
    left: $left;
    right: $right;
    top: $top;
  }
}

@mixin svg-icon-position-top($top: 0, $pseudo: before) {
  &::#{$pseudo} { top: $top }
}

@mixin svg-icon-position-right($right: auto, $pseudo: before) {
  &::#{$pseudo} { right: $right }
}

@mixin svg-icon-position-bottom($bottom: 0, $pseudo: before) {
  &::#{$pseudo} { bottom: $bottom }
}

@mixin svg-icon-position-left($left: 0, $pseudo: before) {
  &::#{$pseudo} { left: $left }
}

@mixin svg-icon-hide($padding: true, $pseudo: before) {
  &::#{$pseudo} { display: none }

  @if $padding {
    @if $pseudo == after {
      padding-right: 0;
    } @else {
      padding-left: 0;
    }
  }
}

@mixin svg-icon-reset($padding: true, $pseudo: before) {
  &::#{$pseudo} {
    background-image: none;
    height: auto;
    width: auto;
  }

  @if $padding {
    @if $pseudo == after {
      padding-right: 0;
    } @else {
      padding-left: 0;
    }
  }
}

// --- Private ---

@mixin svg-icon-base($icon) {
  @include svg-sprite-image;
  @include svg-sprite-size;

  @include svg-icon-background-position($icon);
  @include svg-icon-height($icon);
  @include svg-icon-width($icon);

  background-repeat: no-repeat;
}

@mixin svg-sprite-image { background-image: asset-url($svg-sprite-path) }

@mixin svg-sprite-size { background-size: #{$svg-sprite-width} #{$svg-sprite-height} }

@mixin svg-icon-background-position($icon) {
  $x: svg-icon-property($icon, x);
  $y: svg-icon-property($icon, y);

  background-position: #{$x}px #{$y}px;
}

@mixin svg-icon-height($icon) {
  $height: svg-icon-property($icon, height);

  height: #{$height}px;
}

@mixin svg-icon-width($icon) {
  $width: svg-icon-property($icon, width);

  width: #{$width}px;
}
